{{outlet}}
<div class="row">
	<div class="col-md-6 col-md-offset-3">
        <div class="panel panel-success">
            <div class="panel-heading">
                Login
            </div>
            <div class="panel-body">    
        		<form {{action 'authenticate' on='submit'}} class="form">
          			<div class="form-group">
        	  			<label for="identification">Login</label>
          				{{input id='identification' placeholder='Enter Login' value=identification class='form-control' type='email'}}
          			</div>
          			<div class="form-group">
          				<label for="password">Password</label>
          				{{input id='password' placeholder='Enter Password' type='password' value=password class='form-control'}}
          			</div>
          			<div class="form-group text-center">
          				<button type="submit" class='btn btn-success'>Login</button>
          			</div>
        		</form>
            {{#if errorMessage}}
                <div class="alert alert-danger text-center">{{errorMessage}}</div>
            {{/if}}
            </div>
        </div>
	</div>
</div>